.fab {
    position: absolute !important;
    bottom: 1em;
    right: 1em;
}
.image-preview {
    max-height: 10vh;
}
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 7;
        -moz-column-count: 7;
        column-count: 7;
    }
}